<a href="https://colab.research.google.com/github/dbrjsdn00/python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
a = input('당신의 이름을 입력하시오.')
a

당신의 이름을 입력하시오.유건우

'유건우'

In [7]:
b = input('당신의 나이를 입력하시오.')
b

당신의 나이를 입력하시오.18

'18'

In [8]:
type(b)

str

In [10]:
c=int(b)
c, type(c)

(18, int)

In [16]:
year = int(input('출생년도를 입력하시오.'))
print('당신은',year, '년생입니다.')
age=2020-year
print('당신의 나이는 만', age, '세입니다.')

출생년도를 입력하시오.2002
당신은 2002 년생입니다.
당신의 나이는 만 18 세입니다.

**format**
서식지정자

In [20]:
s='a is {}'
s.format('apple')

'a is apple'

In [23]:
a= '%s %d 개 가격은 %.2f 달러'
b= a %('햄버거', 2, 4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달러
햄버거 2 개 가격은 8.00 달러

In [25]:
a= '%s %d 마리 가격은 %.0f 만원'
b= a %('치킨', 2, 2*2)
print(a)
print(b)

%s %d 마리 가격은 %.0f 만원
치킨 2 마리 가격은 4 만원