<a href="https://colab.research.google.com/github/dbrjsdn00/python/blob/master/6%EC%9D%BC%EC%B0%A8_1%EA%B5%90%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
sub = ['국', '영', '수', '정보']
for i in sub:
  print(i)

국
영
수
정보

In [16]:
sub = ['국', '영', '수', '정보']
for i in range(len(sub)):
  if sub[i]=='수':
    print(i+1,'교시', sub[i], '해당')
  else:
    print(i+1,'교시', sub[i], '해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당
4 교시 정보 해당없음

In [18]:
for i, val in enumerate(sub):
  print(i+1, val)

1 국
2 영
3 수
4 정보

In [20]:
for i in range(1,11):
  if i%2==0:
    print('파이썬')
  else:
    print('야 나도 파이썬 할 수 있어')

야 나도 파이썬 할 수 있어
파이썬
야 나도 파이썬 할 수 있어
파이썬
야 나도 파이썬 할 수 있어
파이썬
야 나도 파이썬 할 수 있어
파이썬
야 나도 파이썬 할 수 있어
파이썬

In [23]:
import sys
sys.version_info

sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

In [0]:
import this

In [27]:
eng = 'korea kovid 19'
eng

'korea kovid 19'

In [29]:
eng.lower()

'korea kovid 19'

In [32]:
eng.upper()

'KOREA KOVID 19'

In [0]:
data = []

In [0]:
data.append('java')
data.append('python')
data.append('c')

In [39]:
data

['java', 'python', 'c']

In [41]:
type(data)

list

In [45]:
data[0], data[-1], data[1:], data[:2]

('java', 'c', ['python', 'c'], ['java', 'python'])

In [48]:
a=[1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [0]:
a=append(10)

In [52]:
a

[1, 2, 3, 4, 5, 6]

In [54]:
a[1]=8
a.sort()
a.reverse
a

[1, 4, 5, 6, 8, 8]

In [57]:
b=(1,2,3, '사', '오')
c=1,2,3
type(b), type(c)

(tuple, tuple)

In [64]:
b[3:], b[1:4]

(('사', '오'), (2, 3, '사'))

In [0]:
#dic = {key:value}

In [75]:
dic = {'name1':'건우1', '학번1':30209,'name2':'건우2', '학번2':30209}
dic

{'name1': '건우1', 'name2': '건우2', '학번1': 30209, '학번2': 30209}

In [71]:
dic.get('name1')

'건우'

In [76]:
dic['name1']

'건우1'

In [79]:
dic.keys()

dict_keys(['name1', '학번1', 'name2', '학번2'])

In [81]:
dic.values()

dict_values(['건우1', 30209, '건우2', 30209])

In [0]:
lunch={'햄버거', '치킨', '라면', '콜라', 10000}
dinner={'피자', '족발', '라면', '콜라', 10000}

In [85]:
lunch&dinner

{10000, '라면', '콜라'}

In [87]:
dinner-lunch

{'족발', '피자'}

In [90]:
dinner|lunch

{10000, '라면', '족발', '치킨', '콜라', '피자', '햄버거'}

In [0]:
import pandas as pd

In [94]:
list_tmp=[1,2,3]
list_tmp

[1, 2, 3]

In [0]:
s1=pd.core.series.Series([1,2,3])

In [0]:
s2=pd.core.series.Series(['일','이','삼'])

In [103]:
pd.DataFrame(data=dict(num=s1, word=s2))

   num word
0    1    일
1    2    이
2    3    삼

In [0]:
num_se=pd.Series([1,2,3,4,5])
num_df=pd.DataFrame([1,2,3,4.5], index[1,2,3,4,5])

In [107]:
print(num_se)
print(num_df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
     0
0  1.0
1  2.0
2  3.0
3  4.5