## Pandas Boolean

In [8]:
True == False

False

In [9]:
True != 0

True

In [10]:
False == 0

True

In [11]:
True or False

True

In [12]:
1 == '1'

False

In [25]:
eng = 'Korea COVID-19'
eng

'Korea COVID-19'

In [26]:
big = eng.upper()
big

'KOREA COVID-19'

In [28]:
small = eng.lower()
small

'korea covid-19'

In [29]:
ex='HaHaHa'
ex.lower()

'hahaha'

In [30]:
ex.upper()

'HAHAHA'

In [53]:
list_data=[1,'두번째',3,4,5,100,0]
tuple_data=(1,2,3,4,5)
dic_data={1:100,2:200,3:300,4:400,5:500}

In [38]:
type(list_data), type(tuple_data), type(dic_data)

(list, tuple, dict)

In [43]:
list_data[0], list_data[1]

(1, '두번째')

In [57]:
list_data[:3], list_data[3:]

([1, '두번째', 3], [4, 5, 100, '마지막'])

In [55]:
list_data[-1]='마지막'

In [58]:
list_data[-1]

'마지막'

In [59]:
tuple_data[2]='가운데'

TypeError: 'tuple' object does not support item assignment

In [61]:
b=(1,2,3,'사','오')
c=1,2,3
type(b),type(c)
b[3:], b[1:4]

(('사', '오'), (2, 3, '사'))

In [86]:
data=[]

In [87]:
data.append('covol')

In [89]:
data.append('java')

In [90]:
data.append('c')

In [91]:
data.append('python')

In [93]:
data

['covol', 'java', 'java', 'c', 'python']

In [94]:
data.reverse()
data

['python', 'c', 'java', 'java', 'covol']

In [118]:
data.sort()
data

['c', 'covol', 'java', 'java', 'python']

In [119]:
data1=[]

In [120]:
data1.append('java')

In [121]:
data1[0],data1[-1],data1[1:],data1[:2]

('java', 'java', [], ['java'])

In [126]:
data1.sort()
data1

['java']

In [125]:
data1.reverse()
data1

['java']

In [129]:
dic={100:1,2:200,300:'나','나':400,500:500}
dic[100], dic[2], dic[300], dic['나']

(1, 200, '나', 400)

In [130]:
dic.keys()

dict_keys([100, 2, 300, '나', 500])

In [131]:
dic.values()

dict_values([1, 200, '나', 400, 500])

In [134]:
dic={'name1':'경민','학번1':20103,'name2':'경민','학번2':20104}
dic.get('name1')

'경민'

In [136]:
dic.keys()

dict_keys(['name1', '학번1', 'name2', '학번2'])

In [139]:
dic.values()

dict_values(['경민', 20103, '경민', 20104])

In [146]:
a=[1,2,3]
a

[1, 2, 3]

In [147]:
b=[4,5,6]
b

[4, 5, 6]

In [150]:
import pandas as pd
pd.DataFrame(data=dict(num=a,sum=b),index=['a','b','c'])

   num  sum
a    1    4
b    2    5
c    3    6

In [159]:
man={
    'num':[1,2,3],
    'sum':[4,5,6]}
pd.DataFrame(man)

   num  sum
0    1    4
1    2    5
2    3    6

In [158]:
man=[
    {'num':1, 'sum':4},
    {'num':2, 'sum':5},
    {'num':3, 'sum':6}
]
pd.DataFrame(man)

   num  sum
0    1    4
1    2    5
2    3    6

In [175]:
person=[
    ['a',100,80],
    ['b',17,60],
    ['b',50,40],
    ['d',90,80]
]
col_name=['name', '국어','영어']
df=pd.DataFrame(person, columns=col_name, index=[1,2,3,4])

In [176]:
df

  name   국어  영어
1    a  100  80
2    b   17  60
3    b   50  40
4    d   90  80

In [177]:
df[['국어','영어']]>70

      국어     영어
1   True   True
2  False  False
3  False  False
4   True   True

In [187]:
person=[
    [10,10,10],
    [20,20,20],
    [30,30,30],
    [40,40,40],
    [50,50,50]
]
col_name=['a', 'b','c']
df=pd.DataFrame(person, columns=col_name, index=['1교시','2교시','3교시','4교시','5교시'])

In [188]:
df

      a   b   c
1교시  10  10  10
2교시  20  20  20
3교시  30  30  30
4교시  40  40  40
5교시  50  50  50